<div class="product-grid-item clearfix" id="product-{{ product.variants.first.id }}">

  <a href="{{ product.url | within: collection }}" class="product-link">
  {{ product.title | escape}}
  </a>

{% if product.featured_image %}
<a href="{{ product.url | within: collection }}">
<img src="{{ product.featured_image | product_img_url: 'compact' }}" class="product-photo" alt="{{ product.featured_image.alt | escape }}" />
</a>
{% endif %}

{{ product.description | truncatewords: 50 }} <a href="{{ product.url }}">learn more</a> 
       
</div>    
