<div class="product-grid-item " id="product-{{ product.variants.first.id }}">

  <a href="{{ product.url | within: collection }}" class="product-link">
  {{ product.title | escape}}
  </a>
 {{ product.description | truncatewords: 50 }} <a href="{{ product.url }}">learn more or register</a>
    
          
</div>    
