<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      {% if template == "index" %} {{ shop.name | escape }} {% else %} {{ page_title | escape }} &ndash; {{ shop.name | escape }} {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    {{ 'bootstrap.css' | asset_url | stylesheet_tag }}
    {{ 'main.css' | asset_url | stylesheet_tag }}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {{ 'option_selection.js' | shopify_asset_url | script_tag }}

    {{content_for_header}}
  </head>

  <body>
    <div class="header"></div>
      
    <div class="container {% if template == 'index' %} main {% else %} interior {% endif %}">
      <div id="umbrella" class="clearfix">
         <ul>                
           <li class="contact">
             <a href="/pages/contact">Contact.</a>              
           </li>
           <li class="checkout-link">
             <a href="/cart">Cart.</a>              
           </li>
           {% if settings.show_header_search %}
           <li>
             <form id="header-search" action="/search" method="get">
               <input type="text" id="top-search-input" name="q" class="search-input" value="" accesskey="4"  autocomplete="off" placeholder="Search" />
               <input type="image" class= "search-icon" src= "{{'icon-search.png' | asset_url }}" id="top-search-submit" class="search-submit ir" value="Search" />
             </form>
           </li>
           {% endif %}
         </ul>
       </div>
            
      <div class="row">
        <div class="span3 logo">
          <a href="/"> <img src= "{{'logo.png' | asset_url }}"/> </a>
        </div>
        
        <div class="span9">
          <ul class="iwcnav">
            {% for link in linklists.main-menu.links %}
            <li class="dropdown {% if forloop.first %}first{% elsif forloop.last %}last{%endif%}">
              {% assign child_list_handle = link.title | handleize %}
              {% if linklists[child_list_handle].links != blank %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  {{ link.title | escape }} 
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  {% for childlink in linklists[child_list_handle].links %}
                  <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                  {% endfor %}
                </ul>
              {% else %}
                <a class="dropdown-toggle" href="{{ link.url }}">{{ link.title | escape }}</a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>  
      {% if template == 'index' %}
      <div class="row">  
        <div class="span12">
          {% include 'carousel' %}
        </div>
      </div>
          
      {% endif %}

      <!-- Example row of columns -->
      <div class="row content">
        <div class="span3 first">
           {% if template == 'collection' and collection.handle != 'merchandise' %}
              {% include 'classes' %}
            {% endif %}
          {% include 'sidebar' %}
        </div>
        <div class="span9">
          {% if template == 'list-collections' %}
            {% include 'collection-listing' %}
          {% else %}
            {{ content_for_layout }}
          {% endif %}
        </div>
      </div>

      <hr>

      <copywrightr>
        <p>© Indiana Writers Center 2012</p>
      </copywright>

  </div> <!-- /container -->
 
       
  <!-- Footer -->
        <footer id="bottom">

          <div id="footer-left" class="container">
            <ul id="footer-nav" class="clearfix">
            {% for link in linklists.main-menu.links %}
              <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
              <li class="list {% if forloop.first %}first{% elsif forloop.last %}last{%endif%}">
                {% assign child_list_handle = link.title | handleize %}
            {% endfor %}
            </ul>
          </div>

        </footer> 
      
        
   

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {{ 'jquery.js' | asset_url | script_tag }}
    {{ 'bootstrap-dropdown.js' | asset_url | script_tag }}
    {{ 'bootstrap-transition.js' | asset_url | script_tag }}
    {{ 'bootstrap-carousel.js' | asset_url | script_tag }}
    {{ 'main.js' | asset_url | script_tag }}
    {{ 'radiance.js' | asset_url | script_tag }} 
    
  

</body></html>