<div id="col-main">

<div id="product" class="clearfix interior-content">
  <div id="product-header" class="diagonal-divider clearfix">
    <div id="product-header-title">
      <h1 id="product-title">{{ product.title | escape }}</h1>
      {% if settings.show_vendor %}<h2 id="product-vendor">{{ product.vendor | link_to_vendor }}</h2>{% endif %}
    </div>
  </div>

  <div class="description">
    {{ product.description }}
    {% include 'social-sharing' %} 
  </div>
  
  <div>
    {% if product.available %}
    <form action="/cart/add" method="post" class="variants" id="product-actions">
    <div class="options clearfix">  

    <div class="variants-wrapper clearfix {% if product.variants.size == 1 %}visuallyhidden{% endif %}"> 
      <select id="product-select" name="id">
        {% for variant in product.variants %}
        <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
        {% endfor %}
        </select>
    </div>            
  </div>     
              
  <div id="purchase">
      <p class="price"></p>                                 
                <input class="btn" type="submit" name="add" id="add-to-cart" value="Add to Cart" />
              </div>

            </div><!-- /.options -->
          </form>

        {% else %}
          <div id="product-actions" class="sold-out">
            <div id="purchase">
              <p class="price">Sold out.</p>      
            </div>
          </div>      
        {% endif %}
      </div><!-- /#product-header -->
            


</div><!-- /#col-main -->